* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.blur{
  background-color: rgba(0, 0, 0, 0.486);
  z-index: 1;
  height: 100%;
  width: 100%;
  position: absolute;
  display: none;
}

.rules{
  background-color: yellow;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 30px 20px 30px;
  text-align: center;
  border-radius: 10px;
}

.ex{
  height: 20px;
  width: 20px;
  position: relative;
  left: 100%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.bar1{
 background-color: rgb(0, 0, 0);
 width: 6px;
 height: 20px;
  position: absolute;
  rotate: -45deg;
}

.bar2{
  background-color: rgb(0, 0, 0);
  width: 6px;
  height: 20px;
  position: absolute;
  rotate: 45deg;
 }

.how{
  font-weight: bolder;
  font-size: 20px;
  margin-bottom: 30px;
  margin-top: 10px;
}

.rul{
  margin-top: 20px;
}

.how2{
  font-weight: bolder;
  font-size: 20px;
  margin-bottom: 30px;
  margin-top: 20px;
}

.container {
  display: flex;
  padding-top: 100px;
  justify-content: center;
}

.containerone {
  width: 40%;
  text-align: center;
  background-color: rgb(236, 80, 80);

}

.containertwo {
  width: 40%;
  height: 300px;
  background-color: aqua;
  text-align: center;

}

.head {
  margin-bottom: 50px;
  text-align: center;
}

.choose {
  margin-bottom: 30px;
}

.flex {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.butts {
  cursor: pointer;
}

.butts:focus {
  border: 2px solid green;
}

.butts:active{
    border: 3px solid green;
}

.y {
  margin-bottom: 50px;
}

.pick {
  font-size: 40px;
  margin-top: 40px;
}

.flex2 {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.sc {
  text-align: center;
}

.scores {
  margin-top: 50px;
}

#botresult {
  margin-top: 30px;
}

.dotsload {
  font-size: 50px;
}

#bounce {
  font-size: 30px;
}

.hide{
  display: none;
}

.trph{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.holder{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: none;
}

.whowon{
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 150px;
  z-index: 5;
  color: rgb(255, 255, 255);
  white-space: nowrap;
  font-size: 50px;
}

@media screen and (max-width: 565px) {
  .container {
    display: block;
    width: 100%;
    padding-top: 30px;
  }

  .rules{
    width: 80%;
  }

  .containerone {
    width: 100%;
    height: 300px;
  }

  .containertwo {
    width: 100%;
  }


}

@media screen and (max-width: 440px) {

.trph{
  width: 320px;
}


}

@media screen and (max-width: 340px) {

  .trph{
    width: 280px;
  }
  
  
  }